---
title: Program
layout: project
---
<script src="/scripts/vendor/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/scripts/expand.js"></script>

<!--
    <style type="text/css">
        #friday div.arrow { background:transparent url(/images/patterns/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
        #friday div.up { background-position:0px 0px;}
    </style>
-->

<script type="text/javascript">  
    setExpand("friday");
    setExpand("saturday");
    setExpand("sunday");
</script>  

<article>
  <div class="inner">
    <div class="project-intro">
      <p>This schedule is subject to change without further notice.</p>
    </div>
    <div class="project-main">
      
        <section>
          <h2>Friday</h2>
            <table id="friday" class="program-table">
                <tr>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Room</th>
                    <th></th>
                </tr>
                {% for point in site.data.program_friday %}
                <tr>
                    <td>{{point.time}}</td>
                    <td>{{point.title}}</td>
                    <td>{{point.speaker}}</td>
                    <td>{{point.room}}</td>
                    <td><div class="arrow"></div></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <ul>{{point.text}}</ul>
                    </td>
                </tr>
              {% endfor %}
            </table>
        </section>
        
        <section>
          <h2>Saturday</h2>
            <table id="saturday" class="program-table">
                <tr>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Room</th>
                    <th></th>
                </tr>
                {% for point in site.data.program_saturday %}
                <tr>
                    <td>{{point.time}}</td>
                    <td>{{point.title}}</td>
                    <td>{{point.speaker}}</td>
                    <td>{{point.room}}</td>
                    <td><div class="arrow"></div></td>
                </tr>
                 <tr>
                    <td colspan="5">
                        <ul>{{point.text}}</ul>
                    </td>
                </tr>
              {% endfor %}
            </table>
        </section>
        
        <section>
          <h2>Sunday</h2>
            <table id="sunday" class="program-table">
                <tr>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Speaker</th>
                    <th>Room</th>
                    <th></th>
                </tr>
                {% for point in site.data.program_sunday %}
                <tr>
                    <td>{{point.time}}</td>
                    <td>{{point.title}}</td>
                    <td>{{point.speaker}}</td>
                    <td>{{point.room}}</td>
                    <td><div class="arrow"></div></td>
                </tr>
                 <tr>
                    <td colspan="5">
                        <ul>{{point.text}}</ul>
                    </td>
                </tr>
              {% endfor %}
            </table>
        </section>
      
    </div>
  </div>
</article>
