<div class="footer" id="contact">
  <footer class="inner">
    <ul class="contactlist">
      <li>
        <a href="mailto:TODO _ätt_ coli.uni-saarland.de"><span class="icon-mail"></span><span>Email</span></a>
      </li>
      <li>
        <a href="http://www.coli.uni-saarland.de/de/page.php?id=impressum"><span class="icon-imprint"></span><span>Impressum</span></a>
      </li>
      <li>
        <a href="/privacy"><span class="icon-imprint"></span><span>Datenschutz</span></a>
      </li>
    <li>
        <a href="tacos29/copyright"><span class="icon-imprint"></span><span>Copyright</span></a>
      </li>
    </ul>
  </footer>
</div>
{% include scripts.html %}

