<header class="inner">
  <h1 class="page-logo">
    <a href="/"><img src="/images/logos/Entwurf_Logo_blau_breit.svg" alt="TaCoS29" align="middle" width="80" height="80"></a>
  </h1>
  <nav class="navigation">
    <ul>
      <li>
        <a href="/tacos29/#about">About</a>
      </li>
    <li>
        <a href="/tacos29/#timeline">Timeline</a>
      </li>
      <li>
        <a href="/tacos29/program">Program</a>
      </li>
      <li>
        <a href="/tacos29/registration">Registration</a>
      </li>
     <li>
        <a href="/tacos29/call">Call for Presentations</a>
      </li>
    <li>
        <a href="/tacos29/location">Location</a>
      </li>
      
<!--
      <li>
        <a href="/blog">Blog</a>
      </li>
-->
<!--
      <li>
        <a href="/#contact">Contact</a>
      </li>
-->
    </ul>
  </nav>
</header>
