<header class="inner">
  <h1 class="page-logo">
    <a href="/"><img src="/images/logos/Entwurf_Logo_blau_breit.svg" alt="TaCoS29" align="middle" width="80" height="80"></a>
  </h1>
  <nav class="navigation">
    <ul>
      <li>
        <a href="/#about">About</a>
      </li>
    <li>
        <a href="/#timeline">Timeline</a>
      </li>
      <li>
        <a href="/program">Program</a>
      </li>
      <li>
        <a href="/registration">Registration</a>
      </li>
     <li>
        <a href="/call">Call for Presentations</a>
      </li>
          <li>
        <a href="/forums/index.php">Couch Surfing</a>
      </li>
    <li>
        <a href="/location">Location</a>
      </li>
      
      
<!--
      <li>
        <a href="/blog">Blog</a>
      </li>
-->
<!--
      <li>
        <a href="/#contact">Contact</a>
      </li>
-->
    </ul>
  </nav>
</header>
